@block vip {
  text-align: center;
  background-color: aquamarine;

  @element header {
    color: mediumpurple;

    @modifier sm {
      font-size: 16px;
    }

    @modifier md {
      font-size: 24px;
    }

    @modifier lg {
      font-size: 36px;
    }
  }

  @modifier gold {
    background-color: gold;
  }

  @modifier platinum {
    background-color: plum;
  }
}
